In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

!pip install -r requirements.txt 
# Tiesą sakant, nesupratau, ką reikia padaryti su requirements.txt

<font color='red'> Erikas Švažas: 

Requirements.txt buvo nurodyta keletas bibliotekų, kurios bus reikalingos norint paleisti notebooką. By default, Python aplinkoje šių modulių nėra (ir dažniausiai kiekvieną reikia įrašyti atskirai), tad gera praktika prieš pradedant dirbti yra susisetupinti aplinką - nuspręsti kokią Python versiją naudosime projekte, kokių paketų mums reikės ir, žinoma, pradėti dirbti izoliuotai nuo pagrindinės Python aplinkos (čia daugiau atsakymų į klausimą [why to use](https://towardsdatascience.com/why-you-should-use-a-virtual-environment-for-every-python-project-c17dab3b0fd0)). Paskutinė projekto užduotis buvo išexportuoti jūsų naudotą aplinką - atitinkamai tuomet aš galėčiau įsirašyti ir naudoti kai keliausiu per jūsų notebooką (tikėtina išvengčiau problemos kai paketas naudoja kitą versiją nei naudojote jūs ir pavyzdžiui - fcijos argumentai buvo pakeisti)

Kurso metu mokėmės naudoti *pip* in *conda* paketų valdytojus. Abu turi pliusų ir minusų - pip puikiai tinka panašaus dydžio prejektui, bet kai bus daugiau dependencies conda gali turėti [privalumų](https://www.reddit.com/r/Python/comments/w564g0/comment/ih7jo6v/?utm_source=share&utm_medium=web2x&context=3) (nors ir viskas vyks super lėtai).

Dar labai padeda įsiimportuoti papildomų extensions kaip nb_black (automatinis PEP8 formatavimas)
```
%load_ext nb_black
```

Need to read the files directly from the webpage: https://www.registrucentras.lt/p/1094

#### Data import <br><br>
Bandžiau patikrinti abu *.xlsx* ir *.csv* formatus. <br>
Galutinis įkeltas rezultatas nesiskiria, tačiau diske csv užima daugiau vietos, kas buvo keista. VIsad maniau, kad csv yra 'optimalesnis' formatas. Manau, kad tai susiję su vidiniu formatavimu (keičiant šifrą galima padidinti/sumažinti) failo apimtį. 

![alt text](size_comp.png "Size comparison")

In [2]:
balance_20 = pd.read_excel('JAR_FA_RODIKLIAI_BLNS_2020.xlsx')
balance_21 = pd.read_excel('JAR_FA_RODIKLIAI_BLNS_2021.xlsx')
profit_20 = pd.read_excel('JAR_FA_RODIKLIAI_PLNA_2020.xlsx')
profit_21 = pd.read_excel('JAR_FA_RODIKLIAI_PLNA_2021.xlsx')

<font color='red'> Erikas Švažas: 


Alternatyvus būdas būtų nusiskaityti failą tiesiai iš registrų centro svetainės (nereikia parsisiųsti)
pd.read_csv('https://www.registrucentras.lt/aduomenys/?byla=JAR_FA_RODIKLIAI_BLNS_2020.csv')
</font>

Dėl skirtumo tarp failų dydžių, more info [here](https://stackoverflow.com/questions/46509789/csv-increase-the-file-size), bet XLSX jau yra net šiek tiek compressed.

In [3]:
balance_20['metai'] = '2020'
balance_21['metai'] = '2021'
profit_20['metai'] = '2020'
profit_21['metai'] = '2021'

In [36]:
balance_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106318 entries, 0 to 106317
Data columns (total 20 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   obj_kodas                     106318 non-null  int64
 1   obj_pav                       106318 non-null  object
 2   form_kodas                    106318 non-null  int64
 3   form_pav                      106318 non-null  object
 4   stat_statusas                 106318 non-null  int64
 5   stat_pav                      106318 non-null  object
 6   template_id                   106318 non-null  object
 7   template_name                 106318 non-null  object
 8   standard_id                   106318 non-null  object
 9   standard_name                 106318 non-null  object
 10  laikotarpis_nuo               106318 non-null  object
 11  laikotarpis_iki               106318 non-null  object
 12  reg_date                      106318 non-null  object
 13  nuosavas_kapitalas            105766 non-null  float64
 14  mok_sumos_ir_isipareigojimai  92674 non-null   float64
 15  ilgalaikis_turtas             104940 non-null  float64
 16  trumpalaikis_turtas           104879 non-null  float64
 17  formavimo_data                106318 non-null  object
 18  metai                         106318 non-null  object
 19  key_test                      106318 non-null  object
dtypes: float64(4), int64(3), object(13)
memory usage: 16.2+ MB

In [29]:
balance_20.head()

,obj_kodas,obj_pav,form_kodas,form_pav,stat_statusas,stat_pav,template_id,template_name,standard_id,standard_name,laikotarpis_nuo,laikotarpis_iki,reg_date,nuosavas_kapitalas,mok_sumos_ir_isipareigojimai,ilgalaikis_turtas,trumpalaikis_turtas,formavimo_data,metai,key_test
0,305217929,"MB ""Jantaris""",960,Mažoji bendrija,0,Teisinis stat neįregistruotas,FS0322,Mažųjų bendrijų finansinių ataskaitų rinkinys,BST217,BALANSAS (Neribotos civilinės atsakomybės juri...,2019-07-27,2019-12-31,2020-05-14,1610.0,NaN,0.0,1684.0,2022-12-01,2020,"MB ""Jantaris""FS03222020-05-14"
1,304127368,"Alytaus neformaliojo švietimo centras ""Toleran...",630,Asociacija,0,Teisinis stat neįregistruotas,FS0323,Pelno nesiekiančių JA finansinių ataskaitų rin...,BST216,FINANSINĖS BŪKLĖS ATASKAITA,2019-01-01,2019-12-31,2020-05-25,243.0,0.0,0.0,243.0,2022-12-01,2020,"Alytaus neformaliojo švietimo centras ""Toleran..."
2,304759186,"Uždaroji akcinė bendrovė ""Balsana LT""",310,Uždaroji akcinė bendrovė,0,Teisinis stat neįregistruotas,FS0129,"Mažų ir labai mažų įmonių, netaikančių išimčių...",BST124,BALANSAS (Sutrumpintas),2019-01-01,2019-12-31,2020-04-22,-20442.0,93324.0,2619.0,69759.0,2022-12-01,2020,"Uždaroji akcinė bendrovė ""Balsana LT""FS0129202..."
3,191160250,"Kretingos sporto klubas ""Žalgiris""",630,Asociacija,0,Teisinis stat neįregistruotas,FS0323,Pelno nesiekiančių JA finansinių ataskaitų rin...,BST216,FINANSINĖS BŪKLĖS ATASKAITA,2019-01-01,2019-12-31,2020-02-04,0.0,0.0,0.0,2935.0,2022-12-01,2020,"Kretingos sporto klubas ""Žalgiris""FS03232020-0..."
4,304512862,"UAB ""Tedėja""",310,Uždaroji akcinė bendrovė,0,Teisinis stat neįregistruotas,FS0129,"Mažų ir labai mažų įmonių, netaikančių išimčių...",BST124,BALANSAS (Sutrumpintas),2019-01-01,2019-12-31,2020-05-05,557480.0,19462.0,406399.0,170543.0,2022-12-01,2020,"UAB ""Tedėja""FS01292020-05-05"

3. Susipažinkite su duomenimis [1.8 taško]: <br>

a. Ką reiškia skirtingi duomenų laukai? Iš kokių atributų sudaryti duomenys? <br>
>Abu duomenų set'ai turi standartinius įmonės duomenis (kodas, pavadinimas, tipas, etc.). *obj_kodas* ir *obj_pav* turėtų būti unikalūs *form_kodas*, *form_pav* yra įmonės grupės ir leistų kategorizuoti įmonių sąrašus. *template_id* ir *template_name*

b. Kiek reikšmių ir požymių turi kiekvienas iš dokumentų? <br>
>Požymiai (columns?): balance-17 ir profit-18; Reikšmės (rows?): b20-106318, b21-120850, p20-96616, p21-110227.

c. Kokio duomenų tipo yra kiekvienas iš požymių? Ar duomenų tipai tarp atitinkamų lentelių iš 2020 ir 2021 metų sutampa? <br>
>*Iš esmės yra 3 tipai: int, float ir object. Tikėjaus rasti ir datetime keliems stulpeliams, bet nėra.*

d. Paaiškinkite kas yra object duomenų tipas ir kuo jis skiriasi nuo string duomenų tipo. <br>
>*Object* - platesnis duomenų tipas, kuris apima ir *string* tipą. Iš 3.c. matosi, kad į *object* patenka ir datetime, nors toks duoemnų tipas yra endeminis pandose, bet matyt, be papildomo modifikavimo ne visada atpažįstamas. <br>
Pagal rastą dokumentaciją *object* turi tokį paaiškinimą: 'Text or mixed numeric and non-numeric values'

e. Kuri lentelė turi daugiausiai nežinomų verčių? Kuris požymis išsiskiria nežinomų verčių skaičiumi? <br>
>Pelno lentelėje "pelnas_pries_apmokestinima". Greičiausiai dėl nepateiktų duomenų, nes įvairios ataskaitos ir jų apdorojimas praktikoje gali užtrukti (dėl užsitęsiančių užsakymų ir pan.). <br>
Praktinis asmeninės darbovietės pavyzdys - tiksliausi duomenys iš sukčiavimo (fraud) yra fiksuojami ~2 mėn vėliau, nes visada galima vėliau gauti pranešimą apie neaptiktą sukčiavimo atvejį. 

f. Ar kažkuri lentelė turi pasikartojančių duomenų? <br>
>*Visos.*

i. Kokia stulpelių aibė vienareikšmiškai identifikuoja kiekvienos lentelės eilutę?
>*Didelė...* <br>
Pavyko sudėlioti raktą iš šių stulpelių: <br> 
['obj_pav'], ['template_id'], ['reg_date'], ['laikotarpis_nuo'], ['laikotarpis_iki'], ['standard_id'], ['nuosavas_kapitalas'] <br>
'nuosavas_kapitalas' gali keistis metų eigoje. Reiškia, skaičiuojant vidurkius, tektų ieškoti paskutinio įrašo kiekvienai įmonei.

<font color='red'> Erikas Švažas: 

Šauniai panaudotas formatavimas!

a) Teisingai, papildant - reikia *domain knowledge* arba ieškoti informacijos greta pagrindinių šaltinių (ypač šalia duomenų iš valstybinių kompanijų). Kad geriau suprasti skirtingus duomenų laukus, galime vadovautis Registrų centro pateiktomis *"Duomenų rinkinio struktūros"* lentelėmis. Būtent iš šio failo galime spręsti ką reiškia skirtingi laukai.

d) Taip, teisingai. Dar pridėčiau, kad *everything is an object in Python* ir jei *Pandas* negali atpažinti duomenų tipo (ar tai integer ar string), by default bus *object*. Kiekvineas objektas turės skirtingas funkcijas ir savybes - pavyzdžiui norint naudoti string tipui būdingas fcijas .str.contains() reikės pradžioje atlikti konvertavimą į šį duomenų tipą.

f) Nei viena lentelė neturi pasikartojančių duomenų [-0.3taško]. Galimas sprendimas:
```
balance_20[balance_20.duplicated()].shape
```

i) Įdomus sprendimo būdas įsivertinti, kurie stulpeliai reikalingi norint apibūdinti duomenis (ir teisingas!). Panašiais atvejais geriausia naudoti unikalų objektą apibūdinantį skaičių vietoje pavadinimo ir rinkinys vos iš dviejų elementų galėjo atsakyti į klausimą [-0.15taško]: 

*(obj_kodas, laikotarpis_nuo)*

In [7]:
# 3.a. / 3.f. patikrinimas
balance_20['obj_kodas'].nunique()

# (balance_20) Turim iš viso 96353 unikalias įm. kodo reikšmes tačiau duomenų paketas turi iš viso 106318 įrašus. Yra įmonių su duplikatais, kas grečiausiai yra papildomi jų pateikti dokumentai, parodomi per stulepelius 'template_id' ir 'template_name'. 
# Tas pats kartojasi visose duomenų paketuose

96353

In [ ]:
# 3.c. datų patikrinimas - yra stulpelių, kurie turi datas, tačiau duomenų tipas vis tiek liek 'object'???
balance_20.dtypes

In [8]:
# 3.i. unikalaus rakto paieška - gali būt, kad įmonės kodas + template_id duos rezultatą? Nope.... 
# Gali būti, kad keičiasi įmonės teisinis statusas ar net forma metų eigoje? 
# Tokiu atveju norėtųsi paburbėti, kad per daug informacijos vienam pakete ir jis pavirsta į sudėtingą 'event_table' tipo pakeltą
balance_20['key_test'] = balance_20['obj_pav'] + balance_20['template_id'] + balance_20['reg_date'] + balance_20['laikotarpis_nuo'] + balance_20['laikotarpis_iki'] + balance_20['standard_id'] + balance_20['nuosavas_kapitalas'].astype('str')
balance_20['key_test'].nunique()

106318

3.5 Data prep

In [6]:
balance = pd.concat([balance_20, balance_21], ignore_index=True)
profit = pd.concat([profit_20, profit_21], ignore_index=True)
# print(balance.info(), profit.info())

4. Keletas juridinių asmenų pavadinimų yra tiesiogiai susiję su “Thermo Fisher” bendrove. 
<br>Raskite pilnus šių bendrovių pavadinimus. <br>[0.4 taško]

In [9]:
name_wildcard = 'Thermo Fisher'
tf_set = balance[balance['obj_pav'].str.contains(f'{name_wildcard}')]
tf_set['obj_pav']

1951         UAB "Thermo Fisher Scientific Vector Holdings"
10090                UAB "Thermo Fisher Scientific Baltics"
20518     UAB "Thermo Fisher Scientific Vector Senior Ho...
50917     UAB "Thermo Fisher Scientific Vector Senior Ho...
123296    UAB "Thermo Fisher Scientific Vector Senior Ho...
132163    UAB "Thermo Fisher Scientific Vector Senior Ho...
152746               UAB "Thermo Fisher Scientific Baltics"
160561       UAB "Thermo Fisher Scientific Vector Holdings"
Name: obj_pav, dtype: object

In [10]:
tf_set = profit[profit['obj_pav'].str.contains(f'{name_wildcard}')]
tf_set['obj_pav']

36085     UAB "Thermo Fisher Scientific Vector Senior Ho...
60941        UAB "Thermo Fisher Scientific Vector Holdings"
81097     UAB "Thermo Fisher Scientific Vector Senior Ho...
86447                UAB "Thermo Fisher Scientific Baltics"
112264               UAB "Thermo Fisher Scientific Baltics"
130928    UAB "Thermo Fisher Scientific Vector Senior Ho...
143074    UAB "Thermo Fisher Scientific Vector Senior Ho...
172511       UAB "Thermo Fisher Scientific Vector Holdings"
Name: obj_pav, dtype: object

In [27]:
# Google paieška parodė, kad yra ir daugiau įmonių.
name_wildcard = ['Thermo Fisher','Thermo Scientific','Applied Biosystems','Invitrogen','Fisher Scientific','Unity Lab Services','Patheon','PPD']
look_up_value = '|'.join(name_wildcard)
balance_20[balance_20['obj_pav'].str.contains(look_up_value)]

,obj_kodas,obj_pav,form_kodas,form_pav,stat_statusas,stat_pav,template_id,template_name,standard_id,standard_name,laikotarpis_nuo,laikotarpis_iki,reg_date,nuosavas_kapitalas,mok_sumos_ir_isipareigojimai,ilgalaikis_turtas,trumpalaikis_turtas,formavimo_data,metai,key_test
1951,305115931,"UAB ""Thermo Fisher Scientific Vector Holdings""",310,Uždaroji akcinė bendrovė,0,Teisinis stat neįregistruotas,FS0128,"Labai mažų įmonių, taikančių išimtis, finansin...",BST122,BALANSAS (Trumpas),2019-04-05,2019-12-31,2020-05-29,1.340596e+09,9.070000e+03,1.340602e+09,2550.0,2022-12-01,2020,"UAB ""Thermo Fisher Scientific Vector Holdings""..."
10090,122351387,"UAB ""Thermo Fisher Scientific Baltics""",310,Uždaroji akcinė bendrovė,0,Teisinis stat neįregistruotas,FS0130,Vidutinių ir didelių įmonių finansinių ataskai...,BST123,BALANSAS,2019-01-01,2019-12-31,2020-05-25,8.353635e+08,4.074583e+07,1.027106e+08,775439119.0,2022-12-01,2020,"UAB ""Thermo Fisher Scientific Baltics""FS013020..."
20518,305115970,"UAB ""Thermo Fisher Scientific Vector Senior Ho...",310,Uždaroji akcinė bendrovė,0,Teisinis stat neįregistruotas,FS0128,"Labai mažų įmonių, taikančių išimtis, finansin...",BST122,BALANSAS (Trumpas),2019-04-05,2019-12-31,2020-05-29,1.340596e+09,1.148000e+04,1.340605e+09,2550.0,2022-12-01,2020,"UAB ""Thermo Fisher Scientific Vector Senior Ho..."
50917,305115956,"UAB ""Thermo Fisher Scientific Vector Senior Ho...",310,Uždaroji akcinė bendrovė,0,Teisinis stat neįregistruotas,FS0128,"Labai mažų įmonių, taikančių išimtis, finansin...",BST122,BALANSAS (Trumpas),2019-04-05,2019-12-31,2020-05-29,2.303856e+08,1.097173e+09,1.327554e+09,5050.0,2022-12-01,2020,"UAB ""Thermo Fisher Scientific Vector Senior Ho..."

5. Apsimeskime, kad atributas “form_pav” neegzistuoja. Iš likusių laukelių gaukite visas UAB ir MB bendroves. <br>
Palyginkite rekonstrukcijos tikslumą su “form_pav” vertėmis - kiek procentų verčių pavyko atkurti skirtingose duomenyse? <br>
[0.4 taško]

In [12]:
print(balance.form_pav.unique())

['Mažoji bendrija' 'Asociacija' 'Uždaroji akcinė bendrovė'
 'Viešoji įstaiga' 'Individuali įmonė' 'Žemės ūkio bendrovė'
 'Labdaros ir paramos fondas' 'Kooperatinė bendrovė' 'Akcinė bendrovė'
 'Savivaldybės įmonė' 'Valstybės įmonė' 'Komanditinė ūkinė bendrija'
 'Tikroji ūkinė bendrija' 'Bendrija' 'Užsienio juridinio asmens filialas'
 'Biudžetinė įstaiga' 'Lietuvos prekyb.,pramon. rūmų asociacija']

In [13]:
# trying regex to find all values in name column before ". Using a space before returns just sligtly few more values. 
balance['test'] = balance['obj_pav'].str.extract(r'^(.*?)"')

In [52]:
print(balance.test.unique())

['MB ' 'Alytaus neformaliojo švietimo centras '
 'Uždaroji akcinė bendrovė ' ...
 'Asociacija Vilkaviškio stalo žaidimų klubas ' 'MB artelė '
 'Viešoji įstaiga jaunimo centras ']

In [53]:
n = len(pd.unique(balance_20['test']))
n

2576

In [55]:
balance_20['test'].to_csv('C:/Users/VARTOTOJAS/PycharmProjects/Pythonkursai/test.csv')

6. Apskaičiuoti vidutines reikšmes “pelnas_pries_apmokestinima” ir “nuosavas_kapitalas” laukų kiekvienai juridinio asmens formai (Uždaroji akcinė bendrovė, Mažoji bendrija, etc.) už visą laikotarpį (2020 ir 2021 metai kartu). <br>
[0.4 taško]

In [18]:
balance_group = balance.groupby(by=['form_pav'])['nuosavas_kapitalas'].mean()
profit_group = profit.groupby(by=['form_pav'])['pelnas_pries_apmokestinima'].mean()

In [31]:
balance_group.sort_values()

form_pav
Bendrija                                    4.739000e+03
Mažoji bendrija                             1.537167e+04
Viešoji įstaiga                             2.621290e+04
Labdaros ir paramos fondas                  3.124865e+04
Asociacija                                  3.629303e+04
Lietuvos prekyb.,pramon. rūmų asociacija    6.449100e+04
Individuali įmonė                           1.246245e+05
Biudžetinė įstaiga                          1.410740e+05
Tikroji ūkinė bendrija                      2.528260e+05
Uždaroji akcinė bendrovė                    6.288160e+05
Kooperatinė bendrovė                        6.773609e+05
Žemės ūkio bendrovė                         1.607303e+06
Komanditinė ūkinė bendrija                  3.251404e+06
Užsienio juridinio asmens filialas          3.368923e+06
Savivaldybės įmonė                          3.431537e+06
Akcinė bendrovė                             4.139755e+07
Valstybės įmonė                             1.748695e+08
Name: nuosavas_kapitalas, dtype: float64

7. Atrinkti unikalias UAB ir MB įmones, kurių “nuosavas_kapitalas” buvo didesnis negu visų UAB ir MB įmonių nuosavo kapitalo mediana už visą laikotarpį (2020 ir 2021 metai kartu). <br>
[0.4 taško]

In [39]:
filt = balance_group_2['form_pav'] == 'Mažoji bendrija'

In [ ]:
balance.loc[filt]

8. Įvertinkite kurios įmonės išsiskiria ypač didele “nuosavas_kapitalas” verte (patenka į 99th percentilę). <br>Patikrinkite įmonių patenkančių į TOP-10 vertes rekvizitai.vz.lt svetainėje. Ranka įrašomi duomenys sukuria klaidos galimybę. <br>
Ar yra bendrovė, kurios “nuosavas_kapitalas” jums kelia įtarimų? <br>
[0.4 taško]

In [18]:
test_sample = balance_21['nuosavas_kapitalas'].quantile(0.99)

6332414.250000088

In [27]:
balance_21[balance_21['nuosavas_kapitalas'] > test_sample]['nuosavas_kapitalas'].sort_values()
# Over 1000 companies

99977     6.332561e+06
84742     6.334105e+06
65893     6.349512e+06
81483     6.350222e+06
115156    6.358210e+06
              ...
39828     1.950511e+09
62819     2.693140e+09
16978     2.950793e+09
25845     3.898038e+09
54243     3.898038e+09
Name: nuosavas_kapitalas, Length: 1210, dtype: float64

9. Vizualiai atvaizduoti juridinių asmenų formos pasiskirstymą per visą laikotarpį (2020 ir 2021 metais kartu). <br>
[0.4 taško] <br>
    a. naudojantis matplotlib funkcionalumu.<br>
    b. naudojantis pandas funkcionalumu.<br>
    c. naudojantis seaborn funkcionalumu.<br>

In [24]:
# data prep
plot_data = balance[['metai','form_pav','obj_kodas']]

In [25]:
plot_data = plot_data.groupby(['metai','form_pav'])['obj_kodas'].nunique().to_frame()

In [26]:
plot_data.plot(x='metai',y='obj_kodas')

KeyError: 'metai'